/* global */

body {
    background-color: #303841;
}


/* register */

.form_group {
    color: #F3F3F3;
    font-weight: bold;
}

.form_control {
    background-color: #F3F3F3;
}

.mybutton {
    background-color: #2185D5;
    color: #F3F3F3;
    border: none;
    width: 80%;
    font-weight: bold;
}

.to_center {
    display: flex;
    justify-content: center;
}

.to_center_login {
    position: absolute;
    top: 30%;
}

.format {
    width: 20%;
}

.top_text {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    color: #F3F3F3;
}


/* navbar */

.navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 0px;
    border: solid #F3F3F3;
    border-width: 3px 0px;
}

.nav_link {
    color: #F3F3F3 !important;
    background-color: #2185D5;
    font-weight: bold;
}

.login_parent {
    width: 100%;
    height: 100%;
}

.nav-link.active {
    color: #F3F3F3 !important;
    background: #3A4750 !important;
}

.zero_padding {
    padding: 0px;
}