body {
    background-color: #303841;
}

.form_group {
    color: #F3F3F3;
}

.form_control {
    background-color: #F3F3F3;
}

.mybutton {
    background-color: #2185D5;
    color: #F3F3F3;
    border: none;
    width: 80%;
}

.to_center {
    display: flex;
    justify-content: center;
}

.format {
    width: 20%;
}

.top_text {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    color: #F3F3F3;
}

.navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 0px;
    border: solid #F3F3F3;
    border-width: 3px 0px;
}

.nav_link {
    color: #F3F3F3;
    background-color: #2185D5;
}