{
  "port": 3001,
  "db": {
    "host": "localhost",
    "name": "XE",
    "user": "SYSTEM",
    "password": "admin",
    "port": 1521,
    "schema": "SYSTEM"
  },
  "saltingRounds": 10,
  "jwtSecret": "szuper_titkos",
  "sessionsExpiresIn": 3600,
  "seed": true
}